In [33]:
import pandas as pd
import datetime as dt
from sqlalchemy import create_engine
import psycopg2
import requests
import os
import re

engine = create_engine('postgresql://postgres:password1@localhost:5432/financial_modelling_db')

# # Get symbols from database
symbols = pd.read_sql('select id, symbol from ticker_data.all_symbols', engine).set_index('symbol')

api_key = os.environ.get('FMP_API_KEY')

import pandas as pd
import numpy as np

def generate_create_table_statement(df: pd.DataFrame, table_name: str) -> str:
    """
    Generate a CREATE TABLE statement for a PostgreSQL table based on a Pandas DataFrame.
    """
    columns = []
    for col in df.columns:
        dtype = df[col].dtype
        if dtype == int or dtype == np.int64:
            columns.append(f"{col} integer")
        elif dtype == float or dtype == np.float64:
            columns.append(f"{col} double precision")
        elif dtype == bool:
            columns.append(f"{col} boolean")
        elif dtype == object:
            columns.append(f"{col} text")
        elif dtype == pd.Timestamp:
            columns.append(f"{col} timestamp")
        else:
            columns.append(f"{col} {dtype}")
    create_table_stmt = f"CREATE TABLE {table_name} ({', '.join(columns)});"
    return create_table_stmt

In [28]:
# income statement
limit = 400

response = requests.get(f'https://financialmodelingprep.com/api/v3/income-statement/AAPL?period=quarter&limit={limit}&apikey={api_key}').json()[0]

df = pd.json_normalize(response)

pattern = re.compile(r'(?<!^)(?=[A-Z])')

new_colnames = [pattern.sub('_', col_name).lower() for col_name in df.columns]

df.rename(columns={list(df.columns)[i]: new_colnames[i] for i in range(len(df.columns))}, inplace=True)

generate_create_table_statement(df, 'fact_income_statement')

'CREATE TABLE fact_income_statement (date text, symbol text, reported_currency text, cik text, filling_date text, accepted_date text, calendar_year text, period text, revenue integer, cost_of_revenue integer, gross_profit integer, gross_profit_ratio double precision, research_and_development_expenses integer, general_and_administrative_expenses integer, selling_and_marketing_expenses integer, selling_general_and_administrative_expenses integer, other_expenses integer, operating_expenses integer, cost_and_expenses integer, interest_income integer, interest_expense integer, depreciation_and_amortization integer, ebitda integer, ebitdaratio double precision, operating_income integer, operating_income_ratio double precision, total_other_income_expenses_net integer, income_before_tax integer, income_before_tax_ratio double precision, income_tax_expense integer, net_income integer, net_income_ratio double precision, eps double precision, epsdiluted double precision, weighted_average_shs_out integer, weighted_average_shs_out_dil integer, link text, final_link text);'

In [29]:
# balance sheet
response = requests.get(f'https://financialmodelingprep.com/api/v3/balance-sheet-statement/AAPL?period=quarter&limit={limit}&apikey={api_key}').json()[0]

df = pd.json_normalize(response)

pattern = re.compile(r'(?<!^)(?=[A-Z])')

new_colnames = [pattern.sub('_', col_name).lower() for col_name in df.columns]

df.rename(columns={list(df.columns)[i]: new_colnames[i] for i in range(len(df.columns))}, inplace=True)

generate_create_table_statement(df, 'fact_balance_sheet')

'CREATE TABLE fact_balance_sheet (date text, symbol text, reported_currency text, cik text, filling_date text, accepted_date text, calendar_year text, period text, cash_and_cash_equivalents integer, short_term_investments integer, cash_and_short_term_investments integer, net_receivables integer, inventory integer, other_current_assets integer, total_current_assets integer, property_plant_equipment_net integer, goodwill integer, intangible_assets integer, goodwill_and_intangible_assets integer, long_term_investments integer, tax_assets integer, other_non_current_assets integer, total_non_current_assets integer, other_assets integer, total_assets integer, account_payables integer, short_term_debt integer, tax_payables integer, deferred_revenue integer, other_current_liabilities integer, total_current_liabilities integer, long_term_debt integer, deferred_revenue_non_current integer, deferred_tax_liabilities_non_current integer, other_non_current_liabilities integer, total_non_current_liabilities integer, other_liabilities integer, capital_lease_obligations integer, total_liabilities integer, preferred_stock integer, common_stock integer, retained_earnings integer, accumulated_other_comprehensive_income_loss integer, othertotal_stockholders_equity integer, total_stockholders_equity integer, total_equity integer, total_liabilities_and_stockholders_equity integer, minority_interest integer, total_liabilities_and_total_equity integer, total_investments integer, total_debt integer, net_debt integer, link text, final_link text);'

In [31]:
df

,date,symbol,reported_currency,cik,filling_date,accepted_date,calendar_year,period,net_income,depreciation_and_amortization,...,net_cash_used_provided_by_financing_activities,effect_of_forex_changes_on_cash,net_change_in_cash,cash_at_end_of_period,cash_at_beginning_of_period,operating_cash_flow,capital_expenditure,free_cash_flow,link,final_link
0,2022-12-31,AAPL,USD,0000320193,2023-02-03,2023-02-02 18:01:30,2023,Q1,29998000000,2916000000,...,-35563000000,0,-3003000000,21974000000,24977000000,34005000000,-3787000000,30218000000,https://www.sec.gov/Archives/edgar/data/320193...,https://www.sec.gov/Archives/edgar/data/320193...

In [30]:
# cash flow statement
response = requests.get(f'https://financialmodelingprep.com/api/v3/cash-flow-statement/AAPL?period=quarter&limit={limit}&apikey={api_key}').json()[0]

df = pd.json_normalize(response)

pattern = re.compile(r'(?<!^)(?=[A-Z])')

new_colnames = [pattern.sub('_', col_name).lower() for col_name in df.columns]

df.rename(columns={list(df.columns)[i]: new_colnames[i] for i in range(len(df.columns))}, inplace=True)

generate_create_table_statement(df, 'fact_cash_flow_statement')

'CREATE TABLE fact_cash_flow_statement (date text, symbol text, reported_currency text, cik text, filling_date text, accepted_date text, calendar_year text, period text, net_income integer, depreciation_and_amortization integer, deferred_income_tax integer, stock_based_compensation integer, change_in_working_capital integer, accounts_receivables integer, inventory integer, accounts_payables integer, other_working_capital integer, other_non_cash_items integer, net_cash_provided_by_operating_activities integer, investments_in_property_plant_and_equipment integer, acquisitions_net integer, purchases_of_investments integer, sales_maturities_of_investments integer, other_investing_activites integer, net_cash_used_for_investing_activites integer, debt_repayment integer, common_stock_issued integer, common_stock_repurchased integer, dividends_paid integer, other_financing_activites integer, net_cash_used_provided_by_financing_activities integer, effect_of_forex_changes_on_cash integer, net_change_in_cash integer, cash_at_end_of_period integer, cash_at_beginning_of_period integer, operating_cash_flow integer, capital_expenditure integer, free_cash_flow integer, link text, final_link text);'

In [43]:
os.environ.get('POSTGRES_PASS')

In [39]:
# int(dt.date(2023,1,1).strftime('%Y%m%d'))

In [41]:
os.environ.get('FMP_API_KEY')

'c1d0593c7e77101920a7c89dac5a06f4'

In [213]:
current_statement_dates = pd.read_sql('''
WITH max_dates AS (
	select as2.id as symbol_id
		, as2.symbol
		, max(fis.date_actual) as date_actual
		, max(fis.date_id) as date_id
		from ticker_data.all_symbols as2
			left join ticker_data.fact_income_statement fis
				on as2.id = fis.symbol_id 
		group by as2.id
)
SELECT m.symbol_id, m.symbol, m.date_actual, dd.year_actual, dd.quarter_actual  
FROM max_dates m
left join dim_date dd
	on m.date_id = dd.date_dim_id
		order by 1;
''', engine).set_index('symbol_id')

In [214]:
current_statement_dates

          symbol date_actual  year_actual  quarter_actual
symbol_id
1            MMM  2022-12-31       2022.0             4.0
2            AOS  2022-09-30       2022.0             3.0
3            ABT  2022-09-30       2022.0             3.0
4           ABBV  2022-09-30       2022.0             3.0
5            ACN  2022-11-30       2022.0             4.0
...          ...         ...          ...             ...
498          XYL        None          NaN             NaN
499          YUM        None          NaN             NaN
500         ZBRA        None          NaN             NaN
501          ZBH        None          NaN             NaN
502         ZION        None          NaN             NaN

[502 rows x 4 columns]

In [212]:
current_date = pd.read_sql('''
    WITH current_date1 AS (
    SELECT current_date AS date
    )
    SELECT dd.year_actual, dd.quarter_actual
    FROM current_date1 c
    left JOIN dim_date dd
        ON c.date = dd.date_actual;
''', engine)
current_year = current_date.loc[0, 'year_actual']
current_quarter = current_date.loc[0, 'quarter_actual']

In [174]:
current_quarter

1

In [175]:
current_year

2023

In [176]:
def fiscal_quarters_between(date):
        today = dt.datetime.now().date()
        delta = today - date
        return delta.days // 90

In [232]:
def get_income_statement_delta(symbol_id, symbol, last_date, last_year, last_quarter):
        if last_date == None:
                limit = 400
                print('not currently in db, limit should be 400')
        elif last_quarter != current_quarter or last_year != current_year:
                limit = fiscal_quarters_between(last_date)
                print('limit set to difference between quarters')
        elif last_quarter == current_quarter and last_year == current_year:
                print('pass')
                pass
        # cash flow statement
        if limit == 0:
                limit = 1
        else:
                limit = limit

        response = requests.get(f'https://financialmodelingprep.com/api/v3/income-statement/{symbol}?period=quarter&limit={limit}&apikey={api_key}').json()

        df = pd.json_normalize(response)

        pattern = re.compile(r'(?<!^)(?=[A-Z])')

        new_colnames = [pattern.sub('_', col_name).lower() for col_name in df.columns]

        df.rename(columns={list(df.columns)[i]: new_colnames[i] for i in range(len(df.columns))}, inplace=True)

        print(limit, df)

        df['date'] = pd.to_datetime(df['date'])

        if df['date'].max().date() != last_date:

                df = df.drop(['period', 'calendar_year'], axis=1).rename(columns={'date':'date_actual'})
                df['date_id'] = df['date_actual'].apply(lambda x: x.strftime('%Y%m%d')).astype(int)
                df['symbol_id'] = symbol_id

                return df
        else:
                return df.drop(df.index)
        

df_list = []
for row in current_statement_dates[:12].iterrows():
        symbol_id = row[0]
        symbol = row[1][0]
        last_date = row[1][1]
        last_year = row[1][2]
        last_quarter = row[1][3]

        print(symbol_id, symbol, last_date, last_year, last_quarter, current_year, current_quarter)

        df = get_income_statement_delta(symbol_id=symbol_id, symbol=symbol, last_date=last_date, last_year=last_year, last_quarter=last_quarter)
        df_list.append(df)

# try:
final_df = pd.concat(df_list)
# except:
#         print('No objects to concatenate')

1 MMM 2022-12-31 2022.0 4.0 2023 1
limit set to difference between quarters
1          date symbol reported_currency         cik filling_date  \
0  2022-12-31    MMM               USD  0000066740   2022-12-31

         accepted_date calendar_year period     revenue  cost_of_revenue  ...  \
0  2022-12-30 19:00:00          2022     Q4  8079000000       4585000000  ...

   income_before_tax_ratio  income_tax_expense  net_income  net_income_ratio  \
0                 0.073895            62000000   541000000          0.066964

    eps  epsdiluted  weighted_average_shs_out  weighted_average_shs_out_dil  \
0  0.98        0.98                 551900000                     552900000

   link  final_link
0

[1 rows x 38 columns]
2 AOS 2022-09-30 2022.0 3.0 2023 1
limit set to difference between quarters
1          date symbol reported_currency         cik filling_date  \
0  2022-09-30    AOS               USD  0000091142   2022-10-28

         accepted_date calendar_year period    revenue  cost_of_revenue  ...  \
0  2022-10-28 11:01:05          2022     Q3  874200000        569200000  ...

   income_before_tax_ratio  income_tax_expense  net_income  net_income_ratio  \
0                 0.165523            34900000   109800000          0.125601

        eps  epsdiluted  weighted_average_shs_out  \
0  0.696468    0.696468                 157652567

   weighted_average_shs_out_dil  \
0                     157652567

                                                link  \
0  https://www.sec.gov/Archives/edgar/data/91142/...

                                          final_link
0  https://www.sec.gov/Archives/edgar/data/91142/...

[1 rows x 38 columns]
3 ABT 2022-09-30 2022.0 3.0 2023 1
limit set to difference between quarters
1          date symbol reported_currency         cik filling_date  \
0  2022-09-30    ABT               USD  0000001800   2022-11-01

         accepted_date calendar_year period      revenue  cost_of_revenue  \
0  2022-11-01 16:06:19          2022     Q3  10410000000       4629000000

   ...  income_before_tax_ratio  income_tax_expense  net_income  \
0  ...                 0.168876           323000000  1435000000

   net_income_ratio   eps  epsdiluted  weighted_average_shs_out  \
0          0.137848  1.15        0.81                1247826087

   weighted_average_shs_out_dil  \
0                    1764000000

                                                link  \
0  https://www.sec.gov/Archives/edgar/data/1800/0...

                                          final_link
0  https://www.sec.gov/Archives/edgar/data/1800/0...

[1 rows x 38 columns]
4 ABBV 2022-09-30 2022.0 3.0 2023 1
limit set to difference between quarters
1          date symbol reported_currency         cik filling_date  \
0  2022-09-30   ABBV               USD  0001551152   2022-11-04

         accepted_date calendar_year period      revenue  cost_of_revenue  \
0  2022-11-04 13:07:23          2022     Q3  14812000000       5022000000

   ...  income_before_tax_ratio  income_tax_expense  net_income  \
0  ...                 0.297056           448000000  3949000000

   net_income_ratio   eps  epsdiluted  weighted_average_shs_out  \
0          0.266608  2.22        2.21                1771000000

   weighted_average_shs_out_dil  \
0                    1776000000

                                                link  \
0  https://www.sec.gov/Archives/edgar/data/155115...

                                          final_link
0  https://www.sec.gov/Archives/edgar/data/155115...

[1 rows x 38 columns]
5 ACN 2022-11-30 2022.0 4.0 2023 1
limit set to difference between quarters
1          date symbol reported_currency         cik filling_date  \
0  2022-11-30    ACN               USD  0001467373   2022-12-16

         accepted_date calendar_year period      revenue  cost_of_revenue  \
0  2022-12-16 06:50:53          2023     Q1  15747802000      10561660000

   ...  income_before_tax_ratio  income_tax_expense  net_income  \
0  ...                 0.165205           605318000  1964950000

   net_income_ratio   eps  epsdiluted  weighted_average_shs_out  \
0          0.124776  3.12        3.08                 630137262

   weighted_average_shs_out_dil  \
0                     638766821

                                                link  \
0  https://www.sec.gov/Archives/edgar/data/146737...

                                          final_link
0  https://www.sec.gov/Archives/edgar/data/146737...

[1 rows x 38 columns]
6 ATVI 2022-09-30 2022.0 3.0 2023 1
limit set to difference between quarters
1          date symbol reported_currency         cik filling_date  \
0  2022-09-30   ATVI               USD  0000718877   2022-11-07

         accepted_date calendar_year period     revenue  cost_of_revenue  ...  \
0  2022-11-07 16:28:12          2022     Q3  1782000000        502000000  ...

   income_before_tax_ratio  income_tax_expense  net_income  net_income_ratio  \
0                 0.280584            65000000   435000000          0.244108

    eps  epsdiluted  weighted_average_shs_out  weighted_average_shs_out_dil  \
0  0.56        0.55                 782000000                     789000000

                                                link  \
0  https://www.sec.gov/Archives/edgar/data/718877...

                                          final_link
0  https://www.sec.gov/Archives/edgar/data/718877...

[1 rows x 38 columns]
7 ADM 2022-09-30 2022.0 3.0 2023 1
limit set to difference between quarters
1          date symbol reported_currency         cik filling_date  \
0  2022-09-30    ADM               USD  0000007084   2022-10-25

         accepted_date calendar_year period      revenue  cost_of_revenue  \
0  2022-10-25 16:01:27          2022     Q3  24683000000      22872000000

   ...  income_before_tax_ratio  income_tax_expense  net_income  \
0  ...                 0.049832           193000000  1031000000

   net_income_ratio   eps  epsdiluted  weighted_average_shs_out  \
0           0.04177  1.84        1.83                 561000000

   weighted_average_shs_out_dil  \
0                     563000000

                                                link  \
0  https://www.sec.gov/Archives/edgar/data/7084/0...

                                          final_link
0  https://www.sec.gov/Archives/edgar/data/7084/0...

[1 rows x 38 columns]
8 ADBE 2022-12-02 2022.0 4.0 2023 1
limit set to difference between quarters
1          date symbol reported_currency         cik filling_date  \
0  2022-12-02   ADBE               USD  0000796343   2023-01-17

         accepted_date calendar_year period     revenue  cost_of_revenue  ...  \
0  2023-01-17 16:34:00          2022     Q4  4525000000        568000000  ...

   income_before_tax_ratio  income_tax_expense  net_income  net_income_ratio  \
0                 0.335249           341000000  1176000000           0.25989

    eps  epsdiluted  weighted_average_shs_out  weighted_average_shs_out_dil  \
0  2.53        2.53                 465000000                     466000000

                                                link  \
0  https://www.sec.gov/Archives/edgar/data/796343...

                                          final_link
0  https://www.sec.gov/Archives/edgar/data/796343...

[1 rows x 38 columns]
9 ADP 2022-12-31 2022.0 4.0 2023 1
limit set to difference between quarters
1          date symbol reported_currency         cik filling_date  \
0  2022-12-31    ADP               USD  0000008670   2023-02-02

         accepted_date calendar_year period     revenue  cost_of_revenue  ...  \
0  2023-02-02 14:37:14          2023     Q2  4391000000       2450700000  ...

   income_before_tax_ratio  income_tax_expense  net_income  net_income_ratio  \
0                  0.24097           245000000   813100000          0.185174

    eps  epsdiluted  weighted_average_shs_out  weighted_average_shs_out_dil  \
0  1.96        1.95                 414300000                     416200000

                                                link  \
0  https://www.sec.gov/Archives/edgar/data/8670/0...

                                          final_link
0  https://www.sec.gov/Archives/edgar/data/8670/0...

[1 rows x 38 columns]
10 AAP 2022-10-08 2022.0 4.0 2023 1
limit set to difference between quarters
1          date symbol reported_currency         cik filling_date  \
0  2022-10-08    AAP               USD  0001158449   2022-11-16

         accepted_date calendar_year period     revenue  cost_of_revenue  ...  \
0  2022-11-16 16:09:58          2022     Q3  2641341000       1461490000  ...

   income_before_tax_ratio  income_tax_expense  net_income  net_income_ratio  \
0                 0.055812            36436000   110982000          0.042017

    eps  epsdiluted  weighted_average_shs_out  weighted_average_shs_out_dil  \
0  1.85        1.84                  60053000                      60384000

                                                link  \
0  https://www.sec.gov/Archives/edgar/data/115844...

                                          final_link
0  https://www.sec.gov/Archives/edgar/data/115844...

[1 rows x 38 columns]
11 AES 2022-09-30 2022.0 3.0 2023 1
limit set to difference between quarters
1          date symbol reported_currency         cik filling_date  \
0  2022-09-30    AES               USD  0000874761   2022-11-04

         accepted_date calendar_year period     revenue  cost_of_revenue  ...  \
0  2022-11-03 19:34:02          2022     Q3  3627000000       2735000000  ...

   income_before_tax_ratio  income_tax_expense  net_income  net_income_ratio  \
0                 0.170113           145000000   421000000          0.116074

    eps  epsdiluted  weighted_average_shs_out  weighted_average_shs_out_dil  \
0  0.63        0.63                 665263158                     667000000

                                                link  \
0  https://www.sec.gov/Archives/edgar/data/874761...

                                          final_link
0  https://www.sec.gov/Archives/edgar/data/874761...

[1 rows x 38 columns]
12 AFL 2022-09-30 2022.0 3.0 2023 1
limit set to difference between quarters
1          date symbol reported_currency         cik filling_date  \
0  2022-09-30    AFL               USD  0000004977   2022-11-02

         accepted_date calendar_year period     revenue  cost_of_revenue  ...  \
0  2022-11-01 18:08:54          2022     Q3  4827000000                0  ...

   income_before_tax_ratio  income_tax_expense  net_income  net_income_ratio  \
0                 0.228506          -493000000  1596000000           0.33064

    eps  epsdiluted  weighted_average_shs_out  weighted_average_shs_out_dil  \
0  2.54        2.53                 629350000                     631946000

                                                link  \
0  https://www.sec.gov/Archives/edgar/data/4977/0...

                                          final_link
0  https://www.sec.gov/Archives/edgar/data/4977/0...

[1 rows x 38 columns]

In [230]:
pd.concat(df_list)

Empty DataFrame
Columns: [date, symbol, reported_currency, cik, filling_date, accepted_date, calendar_year, period, revenue, cost_of_revenue, gross_profit, gross_profit_ratio, research_and_development_expenses, general_and_administrative_expenses, selling_and_marketing_expenses, selling_general_and_administrative_expenses, other_expenses, operating_expenses, cost_and_expenses, interest_income, interest_expense, depreciation_and_amortization, ebitda, ebitdaratio, operating_income, operating_income_ratio, total_other_income_expenses_net, income_before_tax, income_before_tax_ratio, income_tax_expense, net_income, net_income_ratio, eps, epsdiluted, weighted_average_shs_out, weighted_average_shs_out_dil, link, final_link]
Index: []

[0 rows x 38 columns]

In [234]:
df

Empty DataFrame
Columns: [date, symbol, reported_currency, cik, filling_date, accepted_date, calendar_year, period, revenue, cost_of_revenue, gross_profit, gross_profit_ratio, research_and_development_expenses, general_and_administrative_expenses, selling_and_marketing_expenses, selling_general_and_administrative_expenses, other_expenses, operating_expenses, cost_and_expenses, interest_income, interest_expense, depreciation_and_amortization, ebitda, ebitdaratio, operating_income, operating_income_ratio, total_other_income_expenses_net, income_before_tax, income_before_tax_ratio, income_tax_expense, net_income, net_income_ratio, eps, epsdiluted, weighted_average_shs_out, weighted_average_shs_out_dil, link, final_link]
Index: []

[0 rows x 38 columns]

In [208]:
final_df.to_sql('fact_income_statement', engine, schema='ticker_data', if_exists='append', index=False)

280

In [153]:
final_df.columns

Index(['date_actual', 'symbol', 'reported_currency', 'cik', 'filling_date',
       'accepted_date', 'net_income', 'depreciation_and_amortization',
       'deferred_income_tax', 'stock_based_compensation',
       'change_in_working_capital', 'accounts_receivables', 'inventory',
       'accounts_payables', 'other_working_capital', 'other_non_cash_items',
       'net_cash_provided_by_operating_activities',
       'investments_in_property_plant_and_equipment', 'acquisitions_net',
       'purchases_of_investments', 'sales_maturities_of_investments',
       'other_investing_activites', 'net_cash_used_for_investing_activites',
       'debt_repayment', 'common_stock_issued', 'common_stock_repurchased',
       'dividends_paid', 'other_financing_activites',
       'net_cash_used_provided_by_financing_activities',
       'effect_of_forex_changes_on_cash', 'net_change_in_cash',
       'cash_at_end_of_period', 'cash_at_beginning_of_period',
       'operating_cash_flow', 'capital_expenditure', 'free_cash_flow', 'link',
       'final_link', 'date_id', 'symbol_id'],
      dtype='object')

In [141]:
symbol_id

2